@charset "UTF-8";
@font-face {
    font-family: Alone ;
    src: url(fonts/Alone\ Edition.otf)format('opentype');
}
   
@font-face {
    font-family:Mono ;
    src: url(fonts/MonospaceTypewriter.ttf)format('truetype');
}
@font-face {
    font-family: hack ;
    src: url(fonts/Hack-Bold.ttf) format('truetype');
}

/* CONFIGURAÇÃO DO TITULO */
body{
    background-image: linear-gradient(to top, #0b0a18, #182147);
    color: white;
    margin: 1rem auto;
    padding: 1em ;
    
}

#titulo{
    width: 50%;
    height: 10%;
    border: 1px  ;
    margin: 6rem  auto;
    padding: 0px 0px 0px 40px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}
.imagem_perfil{
    display: inline-block;
    justify-items:left ;
    margin: 1.5em; 

}
.titulo_nome{
font-family: 'hack', sans-serif;
 justify-content: center;
 display: flex;
 margin: auto;
 padding:0px;
 text-align: center;


}
.paragrafo_titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.botao_titulo{
    display:inline-flex;
    color: white;
    justify-content: center;
    justify-items: center;
    margin :1em ;
    padding:0.7em ;
    background-image: linear-gradient(to top, #0446ac, #4b8fd2);
    box-shadow: 1px;
    border-radius: 5px;
    text-decoration: none;
    font-family:'Alone', Arial, Helvetica, sans-serif;
    
}
.botao_titulo:hover{
    color: rgb(41, 68, 83);
    text
}

/* formatação sobre mim*/
.descricao{
    text-align: center;
    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.sobre_mim{
    font-family:'hack', Arial, Helvetica, sans-serif;
    
}
.paragrafo_descricao{
    font-family: Arial, Helvetica, sans-serif;
}

/*formatação de tecnologias*/
.cards{
    display: flex;
    margin:3em ;
    padding: 10px 75px 10px 10px;
    justify-content: center;
}

.tecnologia{
    display: inline;
    text-align: center;
    font-family:'hack', Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 3em;
    justify-items: center;

    
}

.card1{
    display: flex;
    margin: 7em;
    justify-content: center;
    background-image:linear-gradient(to top,#101326,#181934,#1c1f3e,#1a1c38);
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
    
}
.card2{
    margin: 7em;
    justify-content: center;
    background-image:linear-gradient(to top,#101326,#181934,#1c1f3e,#1a1c38);
    padding: 0px 10px 10px 10px;
    border-radius: 5px;


}

.card3{
    margin: 7em;
    justify-content: center;
    background-image:linear-gradient(to top,#101326,#181934,#1c1f3e,#1a1c38);
    padding: 0px 10px 10px 10px;
    border-radius: 5px;


}
/* configuração dos projetos*/
#projetos{
    display: flex;
    text-align: center;
    columns: 2;
    gap: 25px;
    justify-content: center;
    margin: 4rem;
}
.card_projeto1{
    margin: 4em;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(to top, #e6e3e3 ,#3232eb);
}

.card_projeto2{
    margin: 4em;
    background-image: linear-gradient(to top, rgb(230, 227, 227) ,rgb(50, 50, 235));
}