@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@font-face {
    font-family: Alone;
    src: url(fonts/Alone\ Edition.otf)format('opentype');
}

@font-face {
    font-family: Mono;
    src: url(fonts/MonospaceTypewriter.ttf)format('truetype');
}

@font-face {
    font-family: hack;
    src: url(fonts/Hack-Bold.ttf) format('truetype');
}

/* CONFIGURAÇÃO DO TITULO */
* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;

}

body {
    background-image: linear-gradient(to top, #0b0a18, #182147);
    color: white;
    margin: 1rem auto;
    padding: 1em;
    width: 100%;
    height: 100%;

}

#titulo {
    width: 50%;
    height: 10%;
    border: 1px;
    margin: 6rem auto;
    padding: 0px 0px 0px 40px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.imagem_perfil {
    display: flex;
    justify-items: center;
    margin: 1.5em;
    justify-content: center;

}

.titulo_nome {
    font-family: 'hack', sans-serif;
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 0px;
    text-align: center;


}

.paragrafo_titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
    

}

.botao_titulo {
    display: inline-flex;
    color: white;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    padding: 0.7em;
    background-image: linear-gradient(to top, #0446ac, #4b8fd2);
    box-shadow: 1px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Share tech', Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.botao_titulo:hover {
    color: rgb(41, 68, 83);
    
}

/* formatação sobre mim*/
.descricao {
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.sobre_mim {
    font-family: 'hack', Arial, Helvetica, sans-serif;


}

.paragrafo_descricao {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 10px 80px 10px;
}

/*formatação de tecnologias*/

.cards{
    font-family:'Alone',Arial, Helvetica, sans-serif;
}
.tecnologia {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 80px;
    padding: 10px ;
    text-align: center;
    font-family: 'hack', Arial, Helvetica, sans-serif;
    justify-content: center;
}
.card1 {
    display: inline;
    margin: 2rem;
    justify-content: center;
    background-image: linear-gradient(to top, #101326, #181934, #1c1f3e, #1a1c38);
    padding: 40px 20px 20px 30px;
    border-radius: 5px;
    box-shadow:2px 1px 2px 2px rgba(255, 255, 255, 0.367);
}

.card2 {
    display: inline;
    margin: 2rem;
    justify-content: center;
    background-image: linear-gradient(to top, #101326, #181934, #1c1f3e, #1a1c38);
    padding: 40px 30px 20px 40px;
    border-radius: 5px;
    box-shadow:2px 1px 2px 2px rgba(255, 255, 255, 0.367);


}

.card3 {
    display: inline;
    margin:2rem;
    justify-content: center;
    background-image: linear-gradient(to top, #101326, #181934, #1c1f3e, #1a1c38);
    padding: 40px 10px 20px 16px;
    border-radius: 5px;
    box-shadow:2px 2px 2px 2px rgba(255, 255, 255, 0.367);



}
.imagem-card{
    display: inline-block;
    justify-items: center;
    margin: 0.5rem;
    

}

/* configuração dos projetos*/
#projetos {
    display:inline;
    text-align: center;
    columns: 2;
    font-family:'hack', Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 50px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
    
}
.titulo_projeto{
    justify-content: center;
    margin:75px 10px 10px 10px;
}

.card_projeto1 {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 30px 10px;
    background-image:  linear-gradient(to top, #101326, #181934, #1c1f3e, #1a1c38);
    border-radius: 10px;
    

}

.card_projeto2 {
    display: inline-block;
    margin: 12px 0px 10px 12px;
    padding: 11px 30px 39px 40px;
    background-image:  linear-gradient(to top, #101326, #181934, #1c1f3e, #1a1c38);
    border-radius: 10px;
}

.card_link{
    color: white;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-family:'Share tech', Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to top, #0446ac, #4b8fd2 );
    border-radius: 5px;
    text-decoration: none;
    font-weight:700 ;
}
.card_link:hover{
    color: #1c171784;
}


.card-paragrafo{
    margin: 10px 10px 20px 10px;
    font-family:Arial, Helvetica, sans-serif ;
}

.card-titulo{
    font-family:'Share tech', Arial, Helvetica, sans-serif;
}

/* Configuração de contatos */
.contatos{
    font-family: 'hack',Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 30px 10px;
}
.titulo_contato{
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 30px 10px; 
}
.paragrafo_contato{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 30px 10px; 
}

.imagem-link{
    margin-right: 20px;
}